@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&display=swap');

* {
    margin: 0;
}

body {
    background-color: #000000;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('./assets/blur-1.png'), url('./assets/blur-2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 100%, 100% 0%;
}

header {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 5vh;
}

nav {
    display: flex;
    gap: 2rem;

    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 14px;

    cursor: pointer;
 
    height: 30px;
    transition: all .1s ease;
}

.nav:hover {
   border-bottom: 4px solid ;
   transition: all .1s ease;
}

#btn {
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 11px;
    cursor: pointer;

    background: none;
    width: 172px;
    height: 37px;

    border-radius: 6px;
    border: solid 1px #8257E5;
    transition: all .3s ease;
}

#btn:hover {
    background-color: #8257E5;
    transition: all .3s ease;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#coffee {
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 80px;
}

#code {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 80px;
    text-shadow:
        -1px -1px 0px #8257E5,
        -1px 1px 0px #8257E5,
        1px -1px 0px #8257E5F5,
        1px 0px 0px #8257E5;
}